body {
  margin: 0px;
  height: auto;
}
h1 {
  color: #6c6881;
}
h2 {
  color: rosybrown;
}
h3 {
  color: #6c6881;
}
h4 {
  color: #6c6881;
}
p {
  color: rosybrown;
}

main {
  width: 80%;
  margin: auto;
  background-color: antiquewhite;
}

#landing {
  background-color: antiquewhite;
}

#landing h1 {
  margin: 0px;
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
}
#landing h2 {
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 0;
}

#landing-text {
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#landing-image {
  background-image: url("./images/carlos-ibanez-oI141-aIwnQ-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  margin: 0;
  background-attachment: fixed;
}
.btn {
  padding: 0.5rem;
  border-radius: 50px;
  text-decoration: none;
  transition: box-shadow 200ms ease-in-out;
  color: #898297;
  padding-left: 15px;
  padding-right: 15px;
}
.btn:hover {
  box-shadow: 1px 1px 2px #898297;
}
#header {
  background-color: antiquewhite;
  text-align: center;
  padding: 8px;
}
#header h1 {
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
}
.caption {
  text-align: center;
}

#formdiv{
  width: 70%;
  float: left;
}

#addressdiv{
  width: 30%;
  float: left;
  border: 1px solid green;
  padding: 25px 10px;  
/*
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 10px;
*/
}
.clear{
  clear: both;
}

.myform{
  padding: 20px;   
  border: 1px solid green;
}

.myform label{
  display: block;
}

.myform input[type="text"], .myform input[type="tel"], .myform input[type="email"], .myform textarea
{
  padding: 5px;
  width: 90%;

}
#flexContainer{
  display: flex;
  justify-items: center;
}
.block {
  flex:1;
  padding: 10px;
  justify-self: center;
}

@media only screen and (max-width: 600px) {
  #formdiv {
   width:100%;
   text-align: center;
  }
  #addressdiv {
    width:100%;
    text-align: center;
   }
}






